@{
    ViewBag.Title = "_Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Styles/Business.css")" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //$("#accordion1").accordion();

        $("#abtnBookList").click(function () {
            var url = '@Url.Action("BookList")';
            $.get(url, { rand: rand(9999) }, function (data) {
                $("#content").html(data);
            });
        });

        $("#abtnAddBook").click(function () {
            var url = '@Url.Action("Add", "Books")';
            $.get(url, { rand: rand(9999) }, function (data) {
                $("#content").html(data);
            });
        });
    });
</script>
<div id="left-menu">
    <ul>
        <li><a href="#" id="abtnBookList" target="_self">书籍列表</a></li>
        <li><a href="#" id="abtnAddBook" target="_self">添加书籍</a></li>
    </ul>
</div>
<div style="float: left;" id="content">
    @RenderBody()</div>
<div style="clear: both;">
</div>
